@media screen and (max-width: 1000px) {
    .section-content {
        flex-direction: column;
    }


    .profile-image {
        width: 250px;
    }

    .image-container::before {
        width: 260px;
        height: 260px;
    }

    .right-section {
        margin-top: 40px;
        margin-inline: 20px;
    }


    .about-container {
        flex-direction: column;
    }

    .left-about {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .right-about {
        max-width: 100%;
    }

    .portfolio {
        width: 90%;
    }

    .portfolio-item {
        width: 90%;
    }

    .slider {
        height: 450px;

    }

    #next,
    #prev {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: translateX(-50%);
    }

    #next {
        right: 40%;
        transform: translateX(50%);
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-text {
        width: 100%;
    }

    .contact-text .submit-btn {
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 700px) {
    .navbar h1 {
        display: none;
    }

    .navbar a {
        font-size: 16px;
    }
}


@media screen and (max-width: 450px) {
    header {
        padding: 0;
        padding-block: 20px;
    }

    .navbar li {
        margin: 0 0 0 10px;
    }

    .navbar h1 {
        display: none;
    }

    .navbar a {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .navbar-link {
        display: none;
    }
}